/* #17252A the most dark
 #2B7A78 dark-greeno
 #3AAFA9 background 
 #DEF2F1  blur White
 #FEFFFF white +-*/
*{
    margin: 0;
    padding: 0;
}
body { 
    font-family: sans-serif;
    background-color: #3AAFA9;
    color: #DEF2F1;
}

h1{
    font-weight: 900;
    font-size: 55px;
    text-align: center;
}


a{
    text-decoration: none;
    color: #17252A;
    font-weight: 700;
}


body{
    background-color: #aaadad;
    color: #17252A;
}
.header-section{
    font-weight: 700;
    font-size: 25px;
}
.headers-info{
    font-size: 18px;
}

/* main page  */
.main-header{
    padding: 15px;
}

.main-list li{
    display: inline-block;
    
}
.main-list li a {
    padding: 30px;
}

/* Meal page */
.meal-img{
    display: block;
    margin: 0 auto;
}
.wrapper-section{
    padding: 10px;
    margin: 20px 10px;
}
.wrapper-section h3{
    margin-bottom: 5px;
}
.wrapper-section p{
    margin-bottom: 10px;
}
.list-ingredients li{
    font-size: 18px; 
    margin-left: 20px;
}
